# Bỏ qua môi trường ảo
venv/

# Bỏ qua thư mục kết quả
results/

# Bỏ qua toàn bộ dataset (ảnh, dữ liệu gốc)
data/dataset/train/
data/dataset/test/
data/dataset/validation/
data/dataset_1/train/
data/dataset_1/test/
data/dataset_1/validation/
data/data
# Bỏ qua các logs
logs/
