# requirements-m1.txt - Tối ưu cho Mac M1/M2

# CORE
numpy==1.26.4
python-dateutil==2.9.0.post0

# DATA PROCESSING
pandas==2.2.3
opencv-python==4.11.0.86
pillow==11.2.1
# Deep Learning
torch>=2.0.0
torchvision>=0.15.0
timm>=0.9.0  # Cho Vision Transformer
psutil>=5.9.0

# MACHINE LEARNING (Apple Silicon)
tensorflow-macos==2.15.0
tensorflow-metal==1.1.0
keras==2.15.0
scikit-learn==1.6.1
protobuf==4.25.7
h5py==3.13.0


# VISUALIZATION
matplotlib==3.9.4
seaborn==0.13.2

# UTILITIES
tqdm==4.67.1
python-dotenv==1.1.0
flask==3.1.0
Werkzeug==3.1.3
Jinja2==3.1.6
itsdangerous==2.2.0
click==8.1.8